{{#each}}
<div class="bookDisplayCard">
    <img src="{{coverImage}}" alt="{{title}} cover art" />
    <h3>{{title}}</h3>
    <h3>{{author}}</h3>
    <h3>{{first_published_year}}</h3>
    <a href="#">Find me on Good Reads!</a>
</div>
{{/each}}